/*login部分*/
.warp>div{
    float: left;
    width: 50%;
    height: 43px;
    /*border-bottom: 2px solid #c9ac51;*/
    font-family:PingFangSC-Regular;
    font-size:14px;
    color:#666666;
    color:green;
    text-align: center;
    line-height: 43px;
}
form>div>span{
    display:inline-block;
    width: 80px;

}
form>div>input{
    border: 0px ;
    width: 100px;
}
.quikly-login{
    display:none;
}
.borde{
    border-bottom: 2px solid #c9ac51;
}
a{
    text-decoration: none;
    color: #007aff;
    font-size: 14px;

}
.warp{
    max-width: 500px;
    margin: 0 auto;
}
.warp>.agreement{
    clear: left;
    display: flex;
    justify-content: center;
    width: 100%;
}
form>div>span{
    margin-left: 20px;
}
.register-sub,.login-sub{
    display: block;
    margin: 0 auto;
    width: 80%;
}
button{
    background: transparent;border: 0;
}
/*订单支付部分*/
.body{
    overflow: scroll;
}
::-webkit-scrollbar{
    display: none;
}
.header-top{
    text-align: center;
    line-height: 40px;
    font-size: 17px;
}
.header-btoom>span{
    padding: 0 5px;
    display: inline-block;
    line-height: 35px;
    font-size: 14px;
    height: 37px;
    border-bottom: 3px solid transparent;
}
.header-btoom>span:hover{
    border-bottom: 3px solid #F7CC47;
}
.order-list{
    width: 100%;
    background:#383635;
    margin-top: 10px;
    padding-top:10px ;
    padding-bottom: 10px;
    padding-left: 10px;
}
.order-l{
    height: 100%;
    margin-right: 10px;
}

.order-r{
    width: 100%;
    padding-left: 10px;
}
.order-r>p{
    line-height: 40px;
    padding-right: 20px ;
    height: 46px;
    border-bottom: thin solid #999999;
    margin-bottom: 10px;
}
.order-r>div{
    padding-right: 20px;
    line-height: 25px;
}

.pay-number{
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-end;
}
.action{
    width:75px;
    height: 30px;
    border-radius:7px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    color:#FFF;
    float: right;
    margin-right: 20px;
}
.body-warp{
    position: absolute;
    top:80px;
    display:flex;
    flex-flow:row nowrap ;
    overflow: hidden;width: 400%;
}
.body-warp>ul{
    width: 100%;
}
.cancel{
    background: transparent;
    border:1px solid #FFFFFF;
}
/*商品列表部分*/
.footer > div {
    height: 100%;
    border: 1px solid red;
    display: flex;
    align-items: center;
}

.car {
    width: 40px;
    height: 40px;

    margin-left: 20px;
    border-radius: 50px;
    position: relative;
    bottom: 25px;
    background: #c9ac51;
    background-image: url(../img/购物车空.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;

}

.footer {
    background: #2d2d2d;
    display: flex;
}

.footer-l {
    flex: 1;
    width: 100%;
}

.footer-l > .color-w {

    border: 1px solid red;

}
.footer-r {
    width: 110px;
    background: #333333;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 14px;

}

.show-img {
    width: 100%;
    height: 25%;
    position:relative;
}

.jieshao {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 3.5vw ;
    color:#edf0f2
}
.show-img-font{
    width:67%;
    border:1px solid red;
}
.show-img-font>p{
    width:90% ;
    padding-bottom: 3%;
}
.zuan{
    display: flex;
    justify-content: left;
}
.name{
    font-size: 5vw;
    color:#edf0f2
}
.show-name{
    width: 100%;
    position: absolute;
    bottom: -6%;
}